<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TaskLists" verbose="1" parallel="tests">
    <parameter name="browser" value="chrome" />
    <parameter name="screen" value="1280x1024" />
    <test name="Chrome" >
        <classes>
            <class name="com.example.tests.MainPageTest" />
        </classes>
    </test>
</suite>
